{% extends 'products/base.html' %}
{% load static %}

{% block title %}Sales{% endblock %}

{% block content %}
     <link rel="stylesheet" href="{% static 'css/sale.css' %}">


    <section id="sale-products" class="sales-section">
        <div class="container">
            <h2>On Sale Now</h2>
            {% if inventory %}
            <div class="product-grid">
                 {% for item in inventory %}
                <div class="product-card">
                    <h3>{{ item.name }}</h3>
                    <p class="sale-price">${{ item.selling_price }}</p>
                
            <form method="POST" action="{% url 'add_to_cart' item.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" value="1" style="width:60px;"oninput="document.getElementById('total-{{ item.id }}').innerText = 
                                (this.value * {{ item.selling_price }}).toFixed(2)">
                <p>Total: KSH <span id="total-{{ item.id }}">{{ item.selling_price|floatformat:2 }}</span></p>

                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                {% endfor %}
        </div>
            </div>
        {% else %}
            <p style="text-align:center;">No items available for sale.</p>
        {% endif %}
    </div>
        
    </section>

{% endblock %}